@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Ranga');

#menuList.activated {
    background-color: #347;
}

.POS{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    padding: 3em;
    height: 100vh;
    width: 100vw;
    background-color: #99a;
}

button{
    overflow: auto;
}

.container-fluid{
    border-radius: 2em;
    background-color: white;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5em 2em #445;
}


/* Table Scrollbar for Overflow */

table.tableSection {
    display: table;
    width: 100%;
}
table.tableSection thead, table.tableSection tbody {
    float: left;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;

}

table.tableSection tr {
    width: 100%;
    display: table;
    text-align: left;
}
table.tableSection th, table.tableSection td {
    width: 33%;
    padding-right: 1em;
}

@media only screen and (max-width: 40em) {
    table.tableSection tbody {
        overflow: auto;
        height: 200px;

    }
}
@media only screen and (min-width: 40.001em) and (max-width: 64em) {
    table.tableSection tbody {
        overflow: auto;
        height: 200px;

    }
}
@media only screen and (min-width: 64.001em) and (max-width: 120em) {
    table.tableSection tbody {
        overflow: auto;
        height: 500px;

    }
}





/* Navigation */

.nav {
    font-family: Georgia, Arial, sans-serif;
    font-size: 14px;
    width: 550px;
    margin:  1px auto 0 auto;
    text-align: center;
}

.nav-items {
    padding: 0;
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin-right: 25px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:active {
    font-family: 'Josefin Sans', sans-serif;
    display: block;
    position: relative;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:active {
    color: #fff;
    font-weight: bold;
}

.nav-link::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: white;
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-link:hover::before,
.nav-link:hover::before {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px);
}
