<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Kitchen | Webstaurant</title>

  <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../views/css/kitchen/style.css" rel="stylesheet">
</head>
<body>
  <div ng-app="app" ng-controller="KitchenController">
    {{data.test}}
  </div>

  <script src="../node_modules/angular/angular.js"></script>
  <script src="../views/js/mainApp.js"></script>
  <script src="../views/js/kitchen.js"></script>
</body>
</html>