<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <title>Manager | Webstaurant</title>
  <meta content="POS" name="Point of Sale">
  <meta name="Team UAT">

  <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../views/css/manager/style.css" rel="stylesheet">
  <script src="../node_modules/angular/angular.js"></script>
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../node_modules/ejs/ejs.js"></script>
  <script src="../views/js/manager/src.js"></script>

  <script src="https://www.gstatic.com/charts/loader.js" type="text/javascript"></script>

</head>

<body>
<div class="manager">

    <!-- *************** Navigation *****************
         This is a temporary Navigation Menu!
         The navigation will remain until an
         authentication system is developed.      -->

    <nav class="nav" role="navigation">
        <ul class="nav-items">
            <li class="nav-item">
                <a class="nav-link" href="/pos"><span>Point of Sale</span></a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="manager"><span>Manager</span></a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="kitchen"><span>Kitchen View</span></a>
            </li>
        </ul>
    </nav>
    <!-- ************ End of Navigation *************** -->


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li class="miniMenu active">
                        <a href="manager">Dashboard</a>
                    </li>


                    <li class="miniMenu">
                        <a href="manager-edit-menu">Edit Menu</a>
                    </li>


                    <li class="miniMenu">
                        <a href="manager-users">Users/Privileges</a>
                    </li>


                    <li class="miniMenu">
                        <a href="config">Config</a>
                    </li>
                </ul>
            </div>


            <div class="col-md-10">
                <h1 class="text-center">Dashboard</h1>


                <div id="piechart">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>