<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>POS | Webstaurant</title>

  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../node_modules/angular-ui-grid/ui-grid.css">
  <link rel="stylesheet" href="../views/css/css.css">
</head>
<body>
  <div ng-app="app" ng-controller="POSController">
    <header activepill="pos"></header>

    <div class="stdContainer">

      <div class="row" style="margin-left: 15px; margin-right: 15px;">
        <!--Menu Table-->
        <div class="col-md-6">
          <div class="row">
            <h2>Menu Items</h2>
            <div ui-grid="data.menuGrid"></div>
          </div>
        </div>

        <!--Order Table-->
        <div class="col-md-6">
          <div class="row">
            <h2>Order Items</h2>
            <div ui-grid="data.orderGrid"></div>
          </div>
        </div>
      </div>

      <!-- Totals -->
      <div class="row">
        <div class="col-md-12 col-sm-12" style="margin-top:15px">

          <div class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-offset-1 col-md-1 col-sm-1">Subtotal</label>
              <div class="col-md-2 col-sm-2">
                <span class="form-control" ng-bind="data.subtotal | currency"></span>
              </div>

              <label class="control-label col-md-1 col-sm-1">Tax</label>
              <div class="col-md-2 col-sm-2">
                <span class="form-control" ng-bind="data.tax | currency"></span>
              </div>

              <label class="control-label col-md-1 col-sm-1">Total</label>
              <div class="col-md-2 col-sm-2">
                <span class="form-control" ng-bind="data.total | currency"></span>
              </div>
            </div>

            <div class="form-horizontal">
              <div class="form-group">
                <div class="col-sm-offset-5 col-md-2 col-sm-2">
                  <button class="btn btn-lg btn-success" ng-click="submitOrder()">Submit Order</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../node_modules/angular/angular.js"></script>
  <script src="../node_modules/angular-ui-grid/ui-grid.js"></script>
  <script src="../views/js/mainApp.js"></script>
  <script src="../views/js/header.js"></script>
  <script src="../views/js/utils.js"></script>
  <script src="../views/js/theService.js"></script>

  <script src="../views/js/pos.js"></script>
</body>
</html>