<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>POS | Webstaurant</title>
  <meta content="Food" name="Point of Sale">
  <meta name="Team UAT">

  <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link href="../views/css/pos/style.css" rel="stylesheet">

</head>
<body>
  <div ng-app="app" ng-controller="POSController">
    {{data.test}}
  </div>

  <script src="../node_modules/angular/angular.js"></script>
  <script src="../views/js/mainApp.js"></script>
  <script src="../views/js/pos.js"></script>
</body>
</html>