<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <title>Users | Webstaurant</title>
  <meta content="POS" name="Point of Sale">
  <meta name="Team UAT">

  <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../views/css/manager/style.css" rel="stylesheet">
  <script src="../node_modules/angular/angular.js"></script>
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../node_modules/ejs/ejs.js"></script>
  <script src="../views/js/manager/addEmployeeSrc.js"></script>
</head>

<body>

  <div ng-app="app" ng-controller="UsersController">
    {{data.test}}
  </div>

  <script src="../node_modules/angular/angular.js"></script>
  <script src="../views/js/mainApp.js"></script>
  <script src="../views/js/users.js"></script>
</body>
</html>