<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>POS | Webstaurant</title>

    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../node_modules/angular-ui-grid/ui-grid.css">
    <link rel="stylesheet" href="../views/css/css.css">
  </head>
  <body>
    <div ng-app="app">
      <header></header>

      <div class="stdContainer container">
        <div class="col-sm-offset-4">
          <h1>Welcome to Webstaurant!</h1>
        </div>
      </div>

    </div>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-ui-grid/ui-grid.js"></script>
    <script src="../views/js/mainApp.js"></script>
    <script src="../views/js/header.js"></script>
    <script src="../views/js/utils.js"></script>
    <script src="../views/js/theService.js"></script>
  </body>
</html>